USE [master]
GO
/****** Object:  Database [ChatDB]    Script Date: 03/07/19 20:25:44 ******/
CREATE DATABASE [ChatDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ChatDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChatDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ChatDB_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/07/19 20:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](300) NULL,
	[Avatar] [varchar](50) NULL,
	[Role] [bit] NULL,
	[LoginTime] [varchar](100) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [Email], [Password], [Avatar], [Role], [LoginTime]) VALUES (1, N'admin', N'admin@gmail.com', N'1', N'dummy.png', 1, NULL)
INSERT [dbo].[Users] ([ID], [Username], [Email], [Password], [Avatar], [Role], [LoginTime]) VALUES (2, N'khanh', N'khanh@gmail.com', N'1', N'dummy.png', 0, NULL)
INSERT [dbo].[Users] ([ID], [Username], [Email], [Password], [Avatar], [Role], [LoginTime]) VALUES (3, N'hau', N'hau@gmail.com', N'1', N'dummy.png', 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  StoredProcedure [dbo].[USP_CheckLogin]    Script Date: 03/07/19 20:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USP_CheckLogin]
@Email varchar(50),
@Password varchar(200)
as
begin
	select * from Users where Email = @Email and Password = @Password
end

GO
USE [master]
GO
